In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./Entrenamieto_ECI_2020.csv',
                dtype={
                    'ID': 'int',
                    'Region': 'category',
                    'Territory': 'category',
                    # 'Pricing, Delivery_Terms_Quote_Approval': 'bool',
                    'Pricing, Delivery_Terms_Approved': 'bool',
                    'Bureaucratic_Code_0_Approval': 'bool',
                    'Bureaucratic_Code_0_Approved': 'bool',
                    'Submitted_for_Approval': 'bool',
                    'Bureaucratic_Code': 'category',
                    # 'Account_Created_Date': 'datetime64',
                    'Source': 'category',
                    'Billing_Country': 'category',
                    'Account_Name': 'category',
                    'Opportunity_Name': 'category',
                    'Opportunity_ID': 'int',
                    # 'Sales_Contract_No': 'int',
                    'Account_Owner': 'category',
                    'Opportunity_Owner': 'category',
                    'Account_Type': 'category',
                    'Opportunity_Type': 'category',
                    'Quote_Type': 'category',
                    'Delivery_Terms': 'category',
                    # 'Opportunity_Created_Date': 'datetime64',
                    'Brand': 'category',
                    'Product_Type': 'category',
                    'Size': 'category',
                    'Product_Category_B': 'category',
                    # 'Price': 'float',
                    'Currency': 'category',
                    'Last_Activity': 'category',
                    # 'Quote_Expiry_Date': 'datetime64',
                    # 'Last_Modified_Date': 'datetime64',
                    'Last_Modified_By': 'category',
                    'Product_Family': 'category',
                    'Product_Name': 'category',
                    'ASP_Currency': 'category',
                    'ASP': 'float',
                    'ASP_(converted)_Currency': 'category',
                    'ASP_(converted)': 'float',
                    # 'Planned_Delivery_Start_Date': 'datetime64',
                    # 'Planned_Delivery_End_Date': 'datetime64',
                    # 'Month': 'datetime64?',
                    'Delivery_Quarter': 'category',
                    # 'Delivery_Year': 'datetime64?',
                    # 'Actual_Delivery_Date': 'datetime64',
                    'Total_Power': 'int',
                    'Total_Amount_Currency': 'category',
                    'Total_Amount': 'float',
                    'Total_Taxable_Amount_Currency': 'category',
                    'Total_Taxable_Amount': 'float',
                    'Stage': 'category',
                    'Prod_Category_A': 'category',
                    'Total_Power_Discreet': 'category'
                })
df.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,True,True,True,False,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,False,False,False,False,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,False,False,False,False,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,False,True,False,False,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,False,True,False,False,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

In [3]:
df = df.rename(columns={'Pricing, Delivery_Terms_Quote_Appr': 'Pricing, Delivery_Terms_Quote_Approval'})

In [4]:
df['Pricing, Delivery_Terms_Quote_Approval'] = df['Pricing, Delivery_Terms_Quote_Approval'].astype('bool')

df['Account_Created_Date'] = df['Account_Created_Date'].astype('datetime64')
df['Opportunity_Created_Date'] = df['Opportunity_Created_Date'].astype('datetime64')
df['Quote_Expiry_Date'] = df['Quote_Expiry_Date'].astype('datetime64')
df['Last_Modified_Date'] = df['Last_Modified_Date'].astype('datetime64')
df['Planned_Delivery_Start_Date'] = df['Planned_Delivery_Start_Date'].astype('datetime64')
df['Planned_Delivery_End_Date'] = df['Planned_Delivery_End_Date'].astype('datetime64')
df['Month'] = df['Month'].astype('datetime64')
df['Actual_Delivery_Date'] = df['Actual_Delivery_Date'].astype('datetime64')

In [5]:
df.dtypes.value_counts()

datetime64[ns]    8
bool              5
float64           4
int64             4
object            3
category          3
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
category          1
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      16947 non-null  int64
 1   Region                                  16947 non-null  category
 2   Territory                               16947 non-null  category
 3   Pricing, Delivery_Terms_Quote_Approval  16947 non-null  bool
 4   Pricing, Delivery_Terms_Approved        16947 non-null  bool
 5   Bureaucratic_Code_0_Approval            16947 non-null  bool
 6   Bureaucratic_Code_0_Approved            16947 non-null  bool
 7   Submitted_for_Approval                  16947 non-null  bool
 8   Bureaucratic_Code                       16947 non-null  category
 9   Account_Created_Date                    16947 non-null  datetime64[ns]
 10  Source                                  16947 non-null  object
 11  Billing_Country                         16947 non-null  category
 12  Account_Name                            16947 non-null  category
 13  Opportunity_Name                        16947 non-null  category
 14  Opportunity_ID                          16947 non-null  int64
 15  Sales_Contract_No                       16947 non-null  object
 16  Account_Owner                           16947 non-null  category
 17  Opportunity_Owner                       16947 non-null  category
 18  Account_Type                            16947 non-null  category
 19  Opportunity_Type                        16947 non-null  category
 20  Quote_Type                              16947 non-null  category
 21  Delivery_Terms                          16947 non-null  category
 22  Opportunity_Created_Date                16947 non-null  datetime64[ns]
 23  Brand                                   16947 non-null  category
 24  Product_Type                            16947 non-null  category
 25  Size                                    16947 non-null  category
 26  Product_Category_B                      16947 non-null  category
 27  Price                                   16947 non-null  object
 28  Currency                                16947 non-null  category
 29  Last_Activity                           16947 non-null  category
 30  Quote_Expiry_Date                       12322 non-null  datetime64[ns]
 31  Last_Modified_Date                      16947 non-null  datetime64[ns]
 32  Last_Modified_By                        16947 non-null  category
 33  Product_Family                          16947 non-null  category
 34  Product_Name                            16947 non-null  category
 35  ASP_Currency                            16947 non-null  category
 36  ASP                                     13738 non-null  float64
 37  ASP_(converted)_Currency                16947 non-null  category
 38  ASP_(converted)                         13738 non-null  float64
 39  Planned_Delivery_Start_Date             16947 non-null  datetime64[ns]
 40  Planned_Delivery_End_Date               16872 non-null  datetime64[ns]
 41  Month                                   16947 non-null  datetime64[ns]
 42  Delivery_Quarter                        16947 non-null  category
 43  Delivery_Year                           16947 non-null  int64
 44  Actual_Delivery_Date                    0 non-null      datetime64[ns]
 45  TRF                                     16947 non-null  int64
 46  Total_Amount_Currency                   16947 non-null  category
 47  Total_Amount                            16888 non-null  float64
 48  Total_Taxable_Amount_Currency           16947 non-null  category
 49  Total_Taxable_Amount                    16947 non-null  float64
 50  Stage                                   16947 non-null  category
 51  Prod_Category_A                         16947 non-null  category
dtypes: bool(5), category(28), datetime64[ns](8), float64(4), int64(4), object(3)
memory usage: 3.6+ MB

## Analisis de valores

Valores nÃºmericos:

In [7]:
df.describe()

,ID,Opportunity_ID,ASP,ASP_(converted),Delivery_Year,TRF,Total_Amount,Total_Taxable_Amount
count,16947.000000,16947.000000,13738.000000,13738.000000,16947.000000,16947.000000,1.688800e+04,1.694700e+04
mean,17666.650440,5335.940225,7.012128,0.432554,2017.137428,2.338172,1.993659e+06,3.224117e+06
std,6940.859372,3324.723809,18.858359,0.758659,0.829603,12.169339,1.848426e+07,2.030360e+07
min,4854.000000,0.000000,0.000000,0.000000,2016.000000,0.000000,0.000000e+00,0.000000e+00
25%,11953.000000,2448.500000,0.360000,0.373260,2016.000000,0.000000,2.677500e+04,8.546580e+04
50%,18114.000000,5306.000000,0.400000,0.412850,2017.000000,0.000000,1.072500e+05,3.760672e+05
75%,23845.500000,7698.000000,0.505000,0.476490,2018.000000,1.000000,4.603898e+05,1.037450e+06
max,28773.000000,12803.000000,80.000000,67.000000,2020.000000,500.000000,1.320000e+09,1.356339e+09

Valores booleanos:

In [8]:
df.select_dtypes(include=['bool']).describe()

,"Pricing, Delivery_Terms_Quote_Approval","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval
count,16947,16947,16947,16947,16947
unique,2,2,2,2,1
top,True,True,False,False,False
freq,13693,9890,8889,11543,16947

**'Submitted_for_Approval'** solo tiene valor: False.

Valores fecha:

In [9]:
df.select_dtypes(include=['datetime64[ns]']).describe()

,Account_Created_Date,Opportunity_Created_Date,Quote_Expiry_Date,Last_Modified_Date,Planned_Delivery_Start_Date,Planned_Delivery_End_Date,Month,Actual_Delivery_Date
count,16947,16947,12322,16947,16947,16872,16947,0
unique,809,1096,1002,650,986,1016,53,0
top,2015-04-20 00:00:00,2017-06-30 00:00:00,2017-06-30 00:00:00,2018-02-08 00:00:00,2016-03-31 00:00:00,2016-03-31 00:00:00,2018-10-01 00:00:00,NaN
freq,3011,124,436,5821,381,451,666,NaN
first,2013-07-27 00:00:00,2013-11-05 00:00:00,2014-09-30 00:00:00,2015-03-12 00:00:00,2016-01-01 00:00:00,2016-01-05 00:00:00,2016-01-01 00:00:00,NaN
last,2018-12-21 00:00:00,2018-12-29 00:00:00,2019-06-30 00:00:00,2018-12-29 00:00:00,2020-09-17 00:00:00,2208-12-31 00:00:00,2020-09-01 00:00:00,NaN

**'Actual_Delivery_Date'** no tiene ningÃºn valor.

In [10]:
df.select_dtypes(include=['category']).describe()

,Region,Territory,Bureaucratic_Code,Billing_Country,Account_Name,Opportunity_Name,Account_Owner,Opportunity_Owner,Account_Type,Opportunity_Type,...,Last_Modified_By,Product_Family,Product_Name,ASP_Currency,ASP_(converted)_Currency,Delivery_Quarter,Total_Amount_Currency,Total_Taxable_Amount_Currency,Stage,Prod_Category_A
count,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,...,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947
unique,5,76,7,80,1635,9841,48,53,7,25,...,55,227,456,5,1,4,5,5,5,1
top,Japan,None,Bureaucratic_Code_4,Japan,Account_Name_1888,Opportunity_Name_9795,Person_Name_50,Person_Name_50,Account_Type_2,Opportunity_Type_1,...,Person_Name_47,Product_Family_77,Product_Name_100,USD,USD,Q2,USD,USD,Closed Won,Prod_Category_A_None
freq,4892,4999,12587,4879,2124,36,3730,3781,8832,6819,...,8515,1345,976,7361,16947,4443,7361,7347,9533,16947

In [11]:
pd.options.display.max_columns

20

In [12]:
pd.options.display.max_columns = None

In [13]:
df.select_dtypes(include=['category']).describe()

,Region,Territory,Bureaucratic_Code,Billing_Country,Account_Name,Opportunity_Name,Account_Owner,Opportunity_Owner,Account_Type,Opportunity_Type,Quote_Type,Delivery_Terms,Brand,Product_Type,Size,Product_Category_B,Currency,Last_Activity,Last_Modified_By,Product_Family,Product_Name,ASP_Currency,ASP_(converted)_Currency,Delivery_Quarter,Total_Amount_Currency,Total_Taxable_Amount_Currency,Stage,Prod_Category_A
count,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947,16947
unique,5,76,7,80,1635,9841,48,53,7,25,2,9,26,7,7,28,3,1,55,227,456,5,1,4,5,5,5,1
top,Japan,None,Bureaucratic_Code_4,Japan,Account_Name_1888,Opportunity_Name_9795,Person_Name_50,Person_Name_50,Account_Type_2,Opportunity_Type_1,Non Binding,Delivery_Terms_4,None,None,None,None,None,NaT,Person_Name_47,Product_Family_77,Product_Name_100,USD,USD,Q2,USD,USD,Closed Won,Prod_Category_A_None
freq,4892,4999,12587,4879,2124,36,3730,3781,8832,6819,16777,7712,15911,15935,15967,15928,16052,16947,8515,1345,976,7361,16947,4443,7361,7347,9533,16947

**'Last_Activity' y 'Prod_Category_A'** solo tienen un valor.

**'ASP_(converted)__Currency'** solo tiene un valor pero se puede utilizar interpretar el cambio de moneda.

In [14]:
df.select_dtypes(include=['object']).describe().head()

       Source  Sales_Contract_No  Price
count    16947             16947  16947
unique      14              5267     53
top       None              None   None
freq      9497              6973  15982

Falta corregir tipo Object

## Valores faltantes

AnÃ¡lisis de columnas categoricas con mÃ¡s de un valor y valor top = 'None'.

In [15]:
df['Territory'].value_counts().head()

None          4999
Germany       1682
NW America    1568
Australia     1208
India          809
Name: Territory, dtype: int64

In [16]:
df['Territory'].value_counts(normalize=True).head()

None          0.294978
Germany       0.099251
NW America    0.092524
Australia     0.071281
India         0.047737
Name: Territory, dtype: float64

In [17]:
df['Brand'].value_counts().head()

None        15911
Other         607
Brand_9       140
Brand_5        48
Brand_24       38
Name: Brand, dtype: int64

In [18]:
df['Brand'].value_counts(normalize=True).head()

None        0.938868
Other       0.035818
Brand_9     0.008261
Brand_5     0.002832
Brand_24    0.002242
Name: Brand, dtype: float64

El 94% de los Items no tienen valor 'Brand'.

In [19]:
df['Product_Type'].value_counts().head()

None              15935
Other               515
Product_Type_3      179
Product_Type_1      142
Product_Type_0       94
Name: Product_Type, dtype: int64

In [20]:
df['Product_Type'].value_counts(normalize=True).head()

None              0.940284
Other             0.030389
Product_Type_3    0.010562
Product_Type_1    0.008379
Product_Type_0    0.005547
Name: Product_Type, dtype: float64

El 94% de los Items no tienen valor 'Product_Type'.

In [21]:
df['Size'].value_counts().head()

None      15967
Other       394
Size_3      356
Size_4      196
Size_1       25
Name: Size, dtype: int64

In [22]:
df['Size'].value_counts(normalize=True).head()

None      0.942173
Other     0.023249
Size_3    0.021007
Size_4    0.011565
Size_1    0.001475
Name: Size, dtype: float64

El 94% de los Items no tienen valor 'Size'.

In [23]:
df['Product_Category_B'].value_counts().head()

None                     15928
Other                      523
Product_Category_B_2        59
Product_Category_B_12       51
Product_Category_B_7        47
Name: Product_Category_B, dtype: int64

In [24]:
df['Product_Category_B'].value_counts(normalize=True).head()

None                     0.939871
Other                    0.030861
Product_Category_B_2     0.003481
Product_Category_B_12    0.003009
Product_Category_B_7     0.002773
Name: Product_Category_B, dtype: float64

El 94% de los Items no tienen valor 'Product_Category_B'.

In [25]:
df['Currency'].value_counts().head()

None    16052
EUR       475
USD       420
Name: Currency, dtype: int64

In [26]:
df['Currency'].value_counts(normalize=True).head()

None    0.947188
EUR     0.028029
USD     0.024783
Name: Currency, dtype: float64

El 95% de los Items no tienen valor 'Currency'.

AnÃ¡lisis de columnas nÃºmericas.

In [27]:
df['Opportunity_ID'].value_counts()

12460    36
2008     36
5123     26
6606     26
2911     24
         ..
7482      1
5435      1
3400      1
7498      1
0         1
Name: Opportunity_ID, Length: 9841, dtype: int64

In [28]:
df['ASP'].value_counts()

0.38000    801
0.40000    712
0.36000    564
0.42000    510
0.39000    465
          ...
0.34730      1
0.27400      1
0.25300      1
0.45789      1
0.24400      1
Name: ASP, Length: 301, dtype: int64

In [29]:
df['ASP_(converted)'].value_counts()

0.38000    570
0.40000    497
0.36000    326
0.39000    325
0.00000    300
          ...
0.32365      1
0.67868      1
0.43820      1
0.47300      1
0.30567      1
Name: ASP_(converted), Length: 441, dtype: int64

In [30]:
df['Delivery_Year'].value_counts()

2017    6318
2018    5830
2016    4371
2019     414
2020      14
Name: Delivery_Year, dtype: int64

In [31]:
df['TRF'].value_counts()

0      11971
1       2192
2        627
3        354
5        297
       ...
51         1
167        1
163        1
195        1
165        1
Name: TRF, Length: 101, dtype: int64

In [32]:
df['TRF'].value_counts(normalize=True).head()

0    0.706379
1    0.129344
2    0.036998
3    0.020889
5    0.017525
Name: TRF, dtype: float64

El 70% de los Items tiene valor 'TRF' = '0'.

In [33]:
df['Total_Amount'].value_counts()

6200.0        513
4400.0        461
18000.0       353
140000.0      272
1600.0        204
             ...
193600.0        1
4972.8          1
8001840.0       1
12333750.0      1
11960.0         1
Name: Total_Amount, Length: 8872, dtype: int64

In [34]:
df['Total_Taxable_Amount'].value_counts()

0.0           997
588325.0       72
109620.0       68
488700.0       66
413700.0       60
             ...
18698803.2      1
27800800.0      1
215.6           1
12852000.0      1
121837.5        1
Name: Total_Taxable_Amount, Length: 7096, dtype: int64

In [35]:
df['Sales_Contract_No'].value_counts().head()

None    6973
108       36
479       36
2575      18
3877      16
Name: Sales_Contract_No, dtype: int64

In [36]:
df['Sales_Contract_No'].value_counts(normalize=True).head()

None    0.411459
108     0.002124
479     0.002124
2575    0.001062
3877    0.000944
Name: Sales_Contract_No, dtype: float64

In [37]:
df['Price'].value_counts().head()

None     15982
Other      609
0.24        27
0.41        22
0.28        20
Name: Price, dtype: int64

In [38]:
df['Price'].value_counts(normalize=True).head()

None     0.943058
Other    0.035936
0.24     0.001593
0.41     0.001298
0.28     0.001180
Name: Price, dtype: float64

El 94% de los Items no tienen valor 'Price'.